---
import MainLayout from "../../layouts/MainLayout.astro";
import { getCollection, getEntryBySlug } from "astro:content";

const pageEntry = await getEntryBySlug("pages", "blog-page");
const blogEntries = await getCollection("blog");
const posts = blogEntries
  .sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());

const pageTitle = pageEntry?.data.title ?? "Blog";
const pageDescription = pageEntry?.data.description;
const formatter = new Intl.DateTimeFormat("en", { dateStyle: "long" });
---
<MainLayout title={pageTitle} description={pageDescription ?? "Blog posts by Alua"}>
  <section class="section">
    <h1>{pageTitle}</h1>
    {pageDescription && <p>{pageDescription}</p>}
    <div class="blog-list">
      {posts.map((post) => (
        <a class="blog-card" href={`/Personal-website/blog/${post.slug}/`}>
          <img src={post.data.image} alt={post.data.title} loading="lazy" />
          <div class="blog-card-content">
            <div class="meta">
              <span>{post.data.author}</span>
              <span>|</span>
              <time datetime={post.data.date.toISOString()}>{formatter.format(post.data.date)}</time>
              <span>|</span>
              <span>{post.data.readTime}</span>
            </div>
            <h2 class="title">{post.data.title}</h2>
            <p>{post.data.excerpt}</p>
          </div>
        </a>
      ))}
    </div>
  </section>
</MainLayout>

