---
const { about, Content } = Astro.props;
---
<section id="about" class="section">
  <div class="about-grid">
    <div class="about-photo">
      <img src={about.image} alt={`Portrait of ${about.name} smiling`} loading="lazy" />
    </div>
    <div>
      <h2>{about.title}</h2>
      {Content && <Content />}
      <h3>{about.highlightsTitle}</h3>
      <ul class="highlights">
        {about.highlights.map((item) => (
          <li>{item}</li>
        ))}
      </ul>
    </div>
  </div>
</section>
